{% extends 'spirit3/base.html' %}

{% block content %}
{% if user.is_authenticated %}
	{% for patient in patient_list %}
		<div class="post">
        		<div class="date">
				<p><a href="{% url 'patient_detail' pk=patient.pk %}">{{ patient.nhsnumber }}</a></p>
			</div>
			<p>Patient Initials: {{ patient.initials }}</p>
			<p>DOB : {{ patient.dob|linebreaksbr }}></p>
		</div>
	{% endfor %}	
{% else %}
	<h1> Welcome.. Please Login </h1>
	<a href="{% url 'login' %}">Login</a><br />
{% endif %}
{% endblock %}
				
